.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px; 
  background-image: url('ścieżka/do/2o0v1tztexu11.webp'); 
  background-size: cover;
  background-position: center;
  color: #ffffff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 40px auto; 
  max-width: 800px; 
}

.user-details {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.4); 
}

