/* Styles for the form layout */
form {
  display: flex;
  flex-direction: column;
  width: 80%; /* Adjust the width as needed */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds the height */
  max-height: 850px; /* Set the maximum height for scrolling */
}

/* Add margin and padding to the form elements for better spacing */
form div {
  margin-bottom: 10px;
  padding: 5px;
}

/* Style for the highlighted duration */
[appHighlight] {
  font-weight: bold;
  color: #ff4500; /* Orange color for highlighting */
}

/* Additional styles for input fields, buttons, etc. */
.input-field {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

.add-button {
  background-color: #28a745; /* Green color for add button */
  color: #ffffff;
  padding: 8px;
  cursor: pointer;
  border: none;
}

.add-button:hover {
  background-color: #218838; /* Darker shade on hover */
}

.remove-button {
  background-color: #dc3545; /* Red color for remove button */
  color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border: none;
}

.remove-button:hover {
  background-color: #c82333; /* Darker shade on hover */
}


/* Add any other global styles as needed */
/* Add this style to highlight the points */
.point-container.highlighted-leg {
  background-color: #000000; /* Adjust the background color as needed */
}

.ngFor-container.highlighted-leg {
  background-color: #095b9a; /* Adjust the background color as needed */
}


