form {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 680px;
  width: 100%;
  background-color: #f5f5f5;
  margin-right: 20px;
}

form div {
  margin: 0;
  padding: 0;
}

.lenghtRoute {
  font-weight: bold;
  color: #333;
}
.routeDescription{
  font-weight: bold;
  color: #333;
}
.routeName{
  font-weight: bold;
  color: #333;
}

.appHighlightx p {
  font-weight: normal; 
  color: #555; 
  margin: 5px 0; 
}



.input-field {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.add-button,
.remove-button {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.add-button:hover,
.remove-button:hover {
  filter: brightness(90%);
}

.add-button {
  background-color: #28a745;
  color: #ffffff;
}

.remove-button {
  background-color: #dc3545;
  color: #ffffff;
}


.point-container {
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #f0f0f0;
  margin-bottom: 0;
  padding: 10px;
}


.point-container:nth-child(odd) {
  background-color: #e0e0e0; 
}

.point-container:nth-child(even) {
  background-color: #d1d1d1;
}

.point-container p {
  margin: 0; 
}

.point-container.highlighted-leg {
  background-color: #ffcc00;
}

.ngFor-container.highlighted-leg {
  background-color: #99ccff; 
}
