/* styles.css or your preferred stylesheet */

/* Flex container styling for home page */
.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

/* description.component.css or your preferred stylesheet */

/* Form styling */
form {
  max-width: 400px;
  margin: 0 auto;
}

/* Input field styling */
.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

/* Drop list container styling */
.example-list {
  list-style-type: none;
  padding: 0;
}

/* Point container styling */
.point-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  
}

/* Remove button styling */
.remove-button {
  background-color: #f44336; /* Red background */
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
}

.remove-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

/* Add button styling */
.add-button {
  background-color: #4CAF50; /* Green background */
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.add-button:disabled {
  background-color: #cccccc; /* Gray background for disabled state */
  cursor: not-allowed;
}

.add-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* map.component.css or your preferred stylesheet */

/* Add your styles for the map component here */

/* Add any other global styles as needed */
/* Add this style to highlight the points */
.point-container.highlighted-leg {
  background-color: #000000; /* Adjust the background color as needed */
}

.ngFor-container.highlighted-leg {
  background-color: #095b9a; /* Adjust the background color as needed */
}
