.ngFor-container {
  margin-bottom: 10px;
}

.input-field {
  padding: 5px;
  margin-right: 10px;
}

.remove-button, .add-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.remove-button:hover, .add-button:hover {
  background-color: #0056b3;
}

.cdk-drag {
  cursor: move;
}

.cdk-drag-preview,
.cdk-drag-placeholder {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cdk-drag-placeholder {
  border: 2px dashed #ccc;
}
