<div *ngFor="let point of points; let i = index" class="ngFor-container point-container">
  <p>
    Adres:
    <input type="text" [(ngModel)]="point.Nazwa" (ngModelChange)="updateCoordinatesOnNameChange(i)" name="markerName{{i}}" placeholder="Marker Name" class="input-field">
  </p>
  <p>
    X: 
    <span>{{ point.WspolrzednaX }}</span>
    Y: 
    <span>{{ point.WspolrzednaY }}</span>
    <button (click)="onMarkerClick(i)" class="remove-button">Remove</button>
  </p>
</div>
<div>
  <button (click)="addAllPoints()" class="add-button">Dodaj Trase</button>
</div>
