<!-- description.component.html -->

<form #routeForm="ngForm">
  <div>
    <label for="routeName">Nazwa Trasy:</label>
    <input type="text" id="routeName" name="routeName" [(ngModel)]="this.mapService.routeName" required class="input-field">
  </div>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let point of points; let i = index" class="ngFor-container point-container" cdkDrag>
      <p>
        Adres:
        <input type="text" [value]="point.nazwa" (input)="updateName($event, i)"
          name="markerName{{i}}" placeholder="Marker Name" class="input-field">
      </p>
      <p>
        X:
        <span>{{ point.wspolrzednaX }}</span>
        Y:
        <span>{{ point.wspolrzednaY }}</span>
        <button (click)="onMarkerClick(i)" class="remove-button">Usuń</button>
      </p>
    </div>
  </div>

  <div>
    <label for="routeDescription">Opis Trasy:</label>
    <input type="text" id="routeDescription" name="routeDescription" [(ngModel)]="this.mapService.routeDescription" required class="input-field">
  </div>
  <!-- Add this under the route description input -->
<div>
  <label for="routeLength">Długość Trasy (km):</label>
  <span>{{ this.mapService.routeLength }}</span>
</div>

<div *ngFor="let legDuration of this.mapService.legDurations; let i = index">
  <label for="legDuration{{ i }}">Czas podróży między punktem {{ i + 1 }} a punktem {{ i + 2 }}:</label>
  <span>{{ legDuration }}</span>
</div>


  <div>
    <button *ngIf="!this.mapService.edition" (click)="addAllPoints()" [disabled]="!routeForm.form.valid" class="add-button">Zapisz Trase</button>
    <button *ngIf="this.mapService.edition" (click)="SaveEdition()" [disabled]="!routeForm.form.valid" class="add-button">Zapisz Edycje</button>
    <button *ngIf="this.mapService.edition" (click)="Cancel()" class="add-button">Anuluj</button>
    <button (click)="addAddressInput()" class="add-button">Dodaj Punkt</button>
  </div>
</form>
